



body {
	background-color: transparent;
  }
    
#container{width:100%;
	font-size: 30px; 

}


#countryflagimg{
	position: relative;
	display: inline;
	top: -2px;
}

#factionflagimg{
	position: relative;
	display: inline;
}


#ranking {
		position: relative;
		top: 10px;
		display: inline;
}

#nickname {
	position: relative;
	display: inline-block;
	top: 3px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 20ch;
}

#rank {
	position: relative;
	display: inline;
	top: -3px;
}

#nonVariableText{
	position: relative;
	display: inline;
	top: -3px;
}

#opponentTeam {

	  position : absolute;
	  top: -10px; /* This will move it px up */
	  color: white;
	  float: left;
	  margin-left: 58%;
	  background-color: rgba(0, 0, 0, 0.8);
	}
  
#playerTeam {

	  position: relative;
	  top: -10px; /* This will move it px up */
	  color: white;
	  float: right;
	  margin-right: 58%;
	  background-color: rgba(0, 0, 0, 0.8);
	}
  
  

    



    